body {
  font-family: "Montserrat", serif;
  font-size: 95%;
  line-height: 175%;
  margin: 0 15% 0;
  color: #2F4F4F;
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  font-family: "Montserrat", serif;
  text-align: center;
}

a {
  text-decoration: none;
}
a:link {
  color: #000000;
  font-size: 130%
}
a:visited {
  color: #808080
}
a:focus, a:hover {
  color: #526680;
  background-color: #fff;
}
a:active {
  background-color: #fff;
}

h1 {
  font: "Montserrat", sans-serif;
  font-size: 120%
  color: #526680;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .3em;
  text-align: center;

}
dt {
  font-weight: bold;
}
ul {
  list-style-type: none;
  letter-spacing: .3em;
  margin: 0;
  padding: 0;
  font-family: Georgia, sans-serif;
  text-align: center;
}
